@charset "UTF-8";

/* fundamental color */
:root{
    --main-color:rgba(0, 0, 0, 0.527);
    --accent-color: #BF6A7A;
    --dark-main-color: rgb(0, 0, 0);
    --text-bright-color: #fff;
    --gray-color: #ddd;
}
/* set up font */
body {
    margin: 0;
    font-family: 'Blinker', 'Helvetica', 'Arial', YuGothic, "游ゴシック体", YuGothic, "YuGothic M", sans-serif,'Hiragino Kaku Gothic Pro',
    sans-serif;
    text-align:left; 
    color: gray;
}

#defaultCanvas0{
    position: fixed; /*canvasを固定*/
    top: 0; /*canvasを上に固定*/
    z-index: -1;
  }

.conA{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    min-height: 450px;
    background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.2)),url(../img/02.png);
    background-position: center;
    background-size: cover;
    color: rgba(7, 6, 6, 0.495);
    color: var(text-bright-color);
    text-align: center;
}

.conA.compact{
    height: 270px;
    min-height: 0;
    background-image: linear-gradient(rgba(0,0,0,0.1),rgba(0,0,0,0.1)),url(../img/02.png);
}
.conA h1{
    margin-top: 0;
    margin-bottom: 10px;
    font-size: 10vw;
    letter-spacing: 0.2em;
    margin-left: 0.2em;
}

.conA p{
    margin-top: 0;
    margin-bottom: 0;
    font-size: 18px;
}
@media (min-width: 768px){
    .conA h1{
        font-size: 100px;
    }
    .conA p{
        font-size: 24px;
    }
}


header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    width: 100%;
    background-color: rgba(190, 190, 190, 0.7);

}

.nohero header{
    position: fixed;
    border-bottom: solid 1px #ddd;
    border-bottom: solid 1px var(--gray-color);
}
.headA{
    display: inline-block;
    line-height: 70px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: #5D9AB2;
    background-color: var(--main-color);
    color: rgb(131, 42, 42);
    color: var(--text-bright-color);
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    text-decoration: none;

}

.headB ul{
    margin: 0;
    padding: 0;
    list-style: none;
    text-align: left;
}

.headB li {
    display: inline-block; /* リストアイテムをインラインブロックに設定 */
    text-align: left; /* テキストを左寄せにする */
}

.headB li ul {
    display: inline-block; /* リストアイテムをインラインブロックに設定 */
    list-style: none; /* 丸ポチを解除 */
    position: absolute;
    top: 100%;
    left: 0;
    margin: 0;
    padding: 0;
}

.headB a{
    display: block;
    padding: 15px;
    /* color: inherit; */
    color : black;
    font-size: 15px;
    text-decoration: none;
}

.headB a:hover{
    background-color: rgba(0,0,0,0.2);
    color : white;
    font-size: 1.1em;
}

@media (min-width: 380px){
    header .container{
        display: flex;
        align-items: center;
        justify-content: space-between;
        max-width: 1000px;
        max-width: var(--large-width);
        margin-left: auto;
        margin-right: auto;
    }
    .headB ul{
        display: flex;
    }
}


.list1 .container{
    display: flex;
    flex-wrap: wrap;
    max-width: none;
    margin: 1.2px auto;
}
.list1 article{
    flex: 1 1 400px;
}
.list1 a{
    position: relative;
    margin: 0.5px;
    display: block;
    border: solid 1px #ddd;
    border: solid 1px var(--gray-color);
    background-color: rgba(0,0,0,0.6);
    color: inherit;
    text-decoration: none;
}
.list1 a:hover{
    opacity: 0.6;
}
.list1 .photo{
    min-height: 270px;

    background-position: center;
    background-size: cover;
    opacity: 0.6;
}
.list1 .text{
    position: absolute;
    bottom: 0;
    left: 0;
    margin: 7px;
    color: #fff;
    color: var(--text-bright-color);
}
.list1 h2{
    margin: 0;
    opacity: 0.8;
    font-size: 18px;
}
.list1 h6{
    margin: 0;
    opacity: 0.8;
    font-size: 14px;

}
.list1 p{
    margin: 0;
    font-size: 14px;
    opacity: 0.8;
}

.open {
	cursor:pointer; /* マウスオーバーでカーソルの形状を変えることで、クリックできる要素だとわかりやすいように */
}
#pop-up {
	display: none; /* label でコントロールするので input は非表示に */
}
.overlay {
	display: none; /* input にチェックが入るまでは非表示に */
}
#pop-up:checked + .overlay {
	display: block;
	z-index: 9999;
	background-color: #00000070;
	position: fixed;
	width: 100%;
	height: 100vh;
	top: 0;
	left: 0;
}
.window {
	width: 90vw;
	max-width: 380px;
	height: 240px;
	background-color: #ffffff;
	border-radius: 6px;
	display: flex;
	justify-content: center;
	align-items: center;
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
.text {
	font-size: 18px;
	margin: 0;
}
.close {
	cursor:pointer;
	position: absolute;
	top: 4px;
	right: 4px;
	font-size: 20px;
}

.text_img{
    width: 1%;
}

.centerof{
    text-align:center; 
    line-height: 1.5;
    max-width:750px;
    margin: 0 auto;
    padding: 10px 30px;
}

/* .centerof img{
    text-align:center;
    display: block;
    width: 100%;
    margin: 0 auto;
    margin-top: 9%;
    margin-bottom: 10%;

} */

.centerof img {
    display: block;
    width: 55%; /* 画像を小さくする場合、パーセンテージを調整 (例: 50%) */
    margin: 0 auto; /* 左右の余白を自動設定して中央に配置 */
    /* margin-top: 5%; 上部の余白 */
    /* margin-bottom: 0%; 下部の余白 */
}



.centerof h2{
    text-align:center;
    display: block;
    width: 100%;
    /* margin: 0 auto; */
    margin-top: 30%;
    margin-bottom: 10%;
}


.separator {
    display: block;
    padding: 15px;
    /* color: inherit; */
    color : black;
    font-size: 15px;
    text-decoration: none;
}


.center-list {
    display: block; /* ブロック要素として表示 */
    /* margin: 0 auto; 左右の余白を自動にして中央揃え */
    margin-left: 30px;
    text-align: left; 
    max-width: 600px; /* 必要に応じて幅を設定 */
}

.post-column04 {
    grid-column: 2/3;
    grid-row: 5;
}

.post-menu ul {
    text-align: right;
    padding-top: 10px;
}

.post-menu li {
    display:inline;
    padding: 0 10px;
}

.sample {
	margin: 16px auto;
	text-align: center;
	display: block;
	border: 1px solid #000;
}
.sample .text {
	text-align: left;
	display: inline-block;
}

.introduction {
    margin: 16px auto;
    text-align: center;
    display: block;
}

.introduction p {
    /* margin: 0; */
    font-size: 15px;
    font-weight: 550;
    text-indent: 1em;
    display: inline-block;
    /* text-align: left; */
    margin-top: 3%;
    margin-bottom: 3%;
}

.introduction h3{
    margin-bottom: -1%;
}
.introduction h4{
    margin-bottom: -2%;
}
.introduction h5{
    text-align: center;
    margin-top: 20%;
    /* margin-bottom: 3%; */
}

.introduction ul {
    padding-left: 0;
    list-style: none;
    display: inline-block;
}
.introduction ul li {
    text-align: left;
}

.conX {
    margin: 16px auto;
    text-align: center;
    display: block;
}

.conX p {
    /* margin: 0; */
    font-size: 14px;
    font-weight: 550;
    text-indent: 1em;
    display: inline-block;
    /* text-align: left; */
    margin-top: 3%;
    margin-bottom: 3%;
}

.conX iframe{
    margin-top: 2%;
}

.conX h3{
    margin-bottom: -1%;
}
.conX h4{
    margin-bottom: -2%;
}
.conX h5{
    margin-bottom: 10%;
}

.conX ul {
    padding-left: 0;
    list-style: none;
    display: inline-block;
}
.conX ul li {
    text-align: left;
}